/*Generalités*/
body
{
   width: 100%;
   max-width: 2600px;
   margin: 0 auto;
}
#page
{
   width: 95%;
   margin: 0 auto;
}

/*--- ENTETE DE PAGE ---*/
#logo /*Titre du site reservia*/
{
   width: 130px;
   height: 80px;
   justify-content: flex-start;
   margin: auto 0;

}
#logo-ancre
   {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
   }
#navp /*Liens ancres*/
{
   float: right;
   width: 100%;
   margin-top: 20px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}
#navp a
{
   color: #0065FC;
   text-decoration: none;
   font-size: 20px;
   font-weight: bold;
   padding-top: 33px;
   border-top: 3px #fff solid;
}
p#fixe a
   {
      color: #0065FC;
      text-decoration: none;
      font-size: 20px;
      font-weight: bold;
      padding-top: 28px;
      border-top: 3px #fff solid;
   }
#navp a:hover
{
   border-top: 3px #0065FC solid;
}
p#fixe a:hover
{
   border-top: 3px #0065FC solid;
}
#ancre
{
   width: 380px;
   
}
#ancre ul
{
   display: flex;
   justify-content: space-evenly;
}
#ancre li
{
   list-style: none;
}

/*Slogan du site*/
#slogan h3
{
   font-size: 25px;
   font-weight: bold;
}
#slogan p
{
   font-size: 20px;
   margin-top: -26px;
}

/*Barre de recherche*/
#search
{
   height: 60px;
   margin-top: -15px;
}
form
{
   margin-top: 40px;
   height: 60px;
   display: flex;
   align-items: center;
}
.map /*Image de l'icon*/
{
   height: 23px;
   width: 26px;
   padding: 10px 10px 10px 10px;
   border: #F2F2F2 1px solid;
   border-radius: 7px 0 0 7px;
   background-color: #F2F2F2;
}
#map
{
   height: 45px;
   width: 245px;
   border: #DEEBFF 1px solid;
   padding-left: 20px;
   font-weight: bold;
   font-size: 19px;
}
.button
{
   color: white;
   height: 45px;
   font-weight: bold;
   font-size: 15px;
   border: #0065FC 1px solid;
   border-radius: 0 7px 7px 0;
   background-color: #0065FC;
}

/*Filtres de recherche*/
#filtre
{
   margin-top: 15px;
   display: flex;
   align-items: center;
   justify-content: flex-start;
}
.fil
{
   margin: 0 12px 0 0;
   font-size: 20px;
   font-weight: bold;
}
#filtre a
{
   color: black;
   font-weight: bold;
   text-decoration: none;
   border: #DEEBFF 1px solid;
   border-radius: 32px;
   margin-right: 25px;
   display: flex;
   align-items: center;
}
#filtre .fas
{
   width: 32px;
   height: 32px;
   color: #0065FC;
   background-color: #DEEBFF;
   border: #DEEBFF 1px solid;
   border-radius: 32px;
   margin: 0 12px 0 -2px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.eco, .rom
{
   width: 150px;
}
.fam
{
   width: 125px;
}
.ani
{
   width: 195px;
}

/*Resultat de recherche*/
#info p
{
   margin: 35px 0px 13px 0px;
}
.fa-info:before
{
   color: #0065FC;
   border: #DEEBFF 1px solid;
   border-radius: 19px;
   margin: 5px 10px 5px 0px;
   padding: 5px 10px 5px 10px;
}

/*--- CORPS DE PAGE --- divisé en 2 Block ---*/
#ville /*1ere section preparation des 2 block (article et aside) cote a cote*/
{
   display: flex;
   justify-content: space-between;
   margin: 40px 0;
}
/*Block 1 -- Hebergement -- */
/*Generalites*/
#hebergement
{
   width: 73%;
   background-color: #F2F2F2;
   border-radius: 15px;
}
article p
{
   font-size: 14px;
}
h3.lieu /*Titre*/
{
   width: 234px;
   margin: 35px 0 21px 29px;
}
#photo1 
{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-content: space-between
}
.legende
{
   width: 200px;
   margin-left: 10px;
}
.legende h4
{
   width: 180px;
   margin: 0px 0 0 9px;
   color: black;
}
.p1
{
   display: block;
   background-color: white;
   border-radius: 15px;
   box-shadow: 4px 4px 11px #e2e2e2;
   flex: 0 30%;
   padding-bottom: 10px;
   margin-top: 30px;
   text-decoration: none;
}
p.prix
{
   color: black;
   width: 150px;
   margin: 5px 0 0 9px;
}
.fas.fa-star
{
   margin: 8px -14px 0 9px;
}
/*BLOCK 1*/
img.cannebiere
{
   width: 96%;
   height: 200px;
   border-radius: 15px 15px 0 0;
   margin: 5px 5px 0 5px;
   object-fit: cover;
}

 /*BLOCK 2*/
img.portHotel
{
   width: 96%;
   height: 200px;
   border-radius: 15px 15px 0 0;
   margin: 5px 5px 0 5px;
   object-fit: cover;
}

 /*BLOCK 3*/
img.mouettes
{
   width: 96%;
   height: 200px;
   border-radius: 15px 15px 0 0;
   margin: 5px 5px 0 5px;
   object-fit: cover;
}
/*BLOCK 4*/
img.mer
{
   width: 96%;
   height: 200px;
   border-radius: 15px 15px 0 0;
   margin: 5px 5px 0 5px;
   object-fit: cover;
}
/*BLOCK 5*/
img.pannier
{
   width: 96%;
   height: 200px;
   border-radius: 15px 15px 0 0;
   margin: 5px 5px 0 5px;
   object-fit: cover;
}
/*BLOCK 6*/
img.amina
{
   width: 96%;
   height: 200px;
   border-radius: 15px 15px 0 0;
   margin: 5px 5px 0 5px;
   object-fit: cover;
}
/*lien "Afficher plus"*/
#plus 
{
   margin: 30px 0px 30px 33px;
   font-weight: bold;
   text-decoration: none;
}
#plus a 
{
   color: #0065FC;
   font-weight: bold;
   text-decoration: none;
}
/*2eme partie -- Populaire -- */
aside /*Generalites*/
{
   background-color: #F2F2F2;
   border-radius: 15px;
   margin-left: 35px;
}
aside .prix1
{
   font-size: 15px;
   margin: 10px 0 0 12px;
}
aside .note
{
   margin: 10px 0 0 12px;
   padding: 32px 0 0 0;
}
aside h4
{
   margin: 10px 0 0 5px;
}
.side
{
   width: 55%;
   margin-top: 10px;
}
#titrePop /*Titre*/
{
   margin: -12px 0px -18px 19px;
   display: flex;
   justify-content: space-between;
   align-items: baseline;
}
h3.pop, i.fas.fa-chart-line
{
   padding-top: 30px;
}
i.fas.fa-chart-line
{
   font-size: 20px;
   margin-right: 17px;
}
#photo2
{
   width: 96%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
}
.p2 
{
   background-color: white;
   border-radius: 15px;
   box-shadow: 4px 4px 11px #e2e2e2;
   margin: 33px 20px 0px 20px;
   display: flex;
   flex-direction: row;
}
.matin
{
   width: 40%;
   height: 187px;
   border-radius: 15px 0 0 15px;
   margin: 5px 5px;
   object-fit: cover;
}

/*PARTIE 2 du corps du site -- Activites -- */
#activ
{
   margin-bottom: 3%;
}
#blockPage
{
   width: 100%;
}
h3#activites
{
   width: 80%;
   height: 2%;
}
#blockPicture
{
   display: flex;
   justify-content: space-between;
}
/*BLOCK 1 photo et legende*/
#block1 
{
   width: 24%;
   border-radius: 10px;
   box-shadow: 4px 4px 11px #e2e2e2;
}
img.port
{
   border-radius: 10px 10px 0 0;
   width: 100%;
   height: 400px;
   margin: 0 auto;
   object-fit: cover;  
}
p.titrePort
{
   margin: 0 auto;
   padding: 9px 0px 9px 15px;
   background-color: white;
   border-radius: 0 0 10px 10px;
   font-weight: bold;
}
/*BLOCK 2 photo et legende*/
/*GENERAL*/
#block2
{
   width: 24%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.Gphoto/*Grande photo*/
{
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 4px 4px 11px #e2e2e2;
}
img.fort
{
   border-radius: 10px 10px 0 0;
   width: 100%;
   height: 195px;
   margin: 0 auto;
   object-fit: cover;  
}
.titreFort
{
   width: 91%;
   margin: 0 auto;
   padding: 9px 0px 9px 15px;
   background-color: white;
   border-radius: 0 0 10px 10px;
   font-weight: bold;
}
/*Petite photo*/
.Pphoto
{
   background-color: #ffffff;
   border-radius: 10px;
   box-shadow: 4px 4px 11px #e2e2e2;
   width: 100%;
   height: 41%;
   margin-top: 20px;
}
img.iles
{
   border-radius: 10px 10px 0 0;
   width: 100%;
   height: 125px;
   margin: 0px auto;
   object-fit: cover;  
}
p.titreIles
{
   width: 91%;
   height: 12%;
   margin: 0 auto;
   padding-top: 23px;
   padding-left: 12px;
   background-color: white;
   border-radius: 0 0 10px 10px;
   font-weight: bold;
}
/*BLOCK 3 Photo et legende*/
#block3
{
   width: 24%;
   height: 100%;
   border-radius: 10px;
   box-shadow: 4px 4px 11px #e2e2e2;
}
img.calanque
{
   border-radius: 10px 10px 0 0;
   width: 100%;
   height: 400px;
   margin: 0 auto;
   object-fit: cover;
}
p.titreCalanque
{
   height: 9%;
   margin: 0 auto;
   padding: 9px 0px 9px 15px;
   background-color: white;
   border-radius: 0 0 10px 10px;
   font-weight: bold;
}
/*BLOCK 4 photo et legende*/
#block4 
{
   width: 24%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
/*Petite photo*/
.Pphoto1
{
   background-color: #ffffff;
   border-radius: 10px;
   box-shadow: 4px 4px 11px #e2e2e2;
   width: 100%;
   height: 41%;
   margin-top: 0;
}
img.dame
{
   border-radius: 10px 10px 0 0;
   width: 100%;
   height: 125px;
   margin: 0px auto;
   object-fit: cover;
   object-position: 0px -21px;  
}
p.titreDame
{
   width: 91%;
   margin: 0 auto;
   padding: 9px 0px 9px 15px;
   background-color: white;
   border-radius: 0 0 10px 10px;
   font-weight: bold;
}
.Gphoto1/*Grande photo*/
{
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 4px 4px 11px #e2e2e2;
   width: 100%;
   height: 55%;
   margin-top: 20px;
}
img.parc
{
   border-radius: 10px 10px 0 0;
   width: 100%;
   height: 195px;
   margin: 20 auto;  
   object-fit: cover;
}
.titreParc
{
   width: 91%;
   margin: 0 auto;
   padding: 9px 0px 9px 15px;
   background-color: white;
   border-radius: 0 0 10px 10px;
   font-weight: bold;
}

/*PIED DE PAGE*/
/*GENERAL*/
footer
{
   background-color: #F2F2F2;
   width: 100%;
}
#sizeFoot li
{
   display: flex;
   flex-direction: column;
   margin-left: -19px;
   list-style: none;
}
#sizeFoot
{
   width: 95%;
   margin: auto;
   display: flex;
   justify-content: flex-start;
}
#sizeFoot h4
{
   width: 150px;
   margin: 37px 0px 3px 0;
}
/*1ere list*/
#propos
{
   display: flex;
   flex-direction: column;
   padding-right: 200px;
   padding-bottom: 15px;
}
#propos ul
{
   margin: 10px 20px 0 -20px;
   display: flex;
   flex-direction: column;
   align-content: flex-start;
}
#propos a
{
   text-decoration: none;
   color: black;
}
/*2eme list*/
#loyer
{
   padding-right: 200px;
   display: flex;
   flex-direction: column
}
#loyer ul
{
   margin: 10px 20px 0 -20px;
   display: flex;
   flex-direction: column;
   align-content: flex-start;
}
#loyer a
{
   text-decoration: none;
   color: black;
}
/*3eme list*/
#assista
{
   display: flex;
   flex-direction: column
}
#assista ul
{
   margin: 10px 20px 0 -20px;
   display: flex;
   flex-direction: column;
   align-content: flex-start;
}
#assista a
{
   text-decoration: none;
   color: black;
}

/* -- RESPONSIVE -- */

@media (max-width: 1730px)
{
   #block1
   {
      width: 24%;
   }
   #block2
   {
      width: 24%;
   }
   #block3
   {
      width: 24%;
   }
   #block4
   {
      width: 24%;
   }
   img.dame
   {
      object-position: 0px -21px;
   }
}
@media (max-width: 1320px)
{
   /*POPULAIRE*/
   aside
   {
      width: 100%;
      padding-bottom: 25px;
      margin-bottom: 2%;
   }
   /*HEBERGEMENT*/
   #ville 
   {
      display: flex;
      flex-wrap: wrap-reverse;
      justify-content: center;
      margin: 40px 0;
   }
   #hebergement
   {
      width: 100%;
   }
   #photo2
   {
      width: 75%;
   }
   .p1
   {
      flex: 0 45%;
      margin-top: 28px;
   }
   img.cannebiere
   {
      width: 98%;
      
   }
   
   /*ACTIVITES*/
   #blockPage
   {
      width: 100%;
      margin: 10px 0;
   }
   #blockPicture 
   {
      width: 100%;
      height: 86%;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: space-around;
   }
   #block1
   {
      width: 500px;
      height: 465px;
      margin: 15px 0;
      order: 1;
   }
   #block2
   {
      width: 500px;
      height: 465px;
      margin: 15px 0;
      order: 2;

   }
   #block3
   {
      width: 500px;
      height: 465px;
      margin: 15px 0;
      order: 4;
   }
   #block4
   {
      width: 500px;
      height: 465px;
      margin: 15px 0;
      order: 3;
   }
   .dame
   {
      object-position: 0px 0px;
   }

}
@media (max-width: 1100px)
{
   #page
   {
      width: 100%;
   }
   aside
   {
      margin: 0 0 25px 0;
   }
   #sizeFoot
   {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-content: flex-start;
   }
   #block1
   {
      width: 46%;
      height: 465px;
      margin: 15px 0;
      order: 1;
   }
   #block2
   {
      width: 46%;
      height: 465px;
      margin: 15px 0;
      order: 2;

   }
   #block3
   {
      width: 46%;
      height: 465px;
      margin: 15px 0;
      order: 4;
   }
   #block4
   {
      width: 46%;
      height: 465px;
      margin: 15px 0;
      order: 3;
   }
}

@media (max-width: 810px)
{
   /*Filtre de recherche*/
   #filtre
   {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
   }
   .ani
   {
      margin: 15px;
   }
}
@media (max-width: 600px)
{
   #page
   {
      width: 100%;
   }

   /*LIEN ANCRE*/
   #logo-ancre
   {
      display: flex;
   }
   p#fixe a
   {
      /*position: absolute;
      top: 13px;
      right: 0;*/
      color: #0065FC;
      text-decoration: none;
      font-size: 20px;
      font-weight: bold;
      margin-top: 25px;
      padding-top: 23px;
      border-top: 3px #fff solid;
   }
   #navp
   {
      width: 100%;
      margin-top: -55px;
      margin-right: 0;
      display: flex;
      flex-direction: column-reverse;
   }
   #navp a
   {
      width: 100%;
      color: #0065FC;
      text-decoration: none;
      font-size: 20px;
      font-weight: bold;
      padding-bottom: 15px;
      border-bottom: 3px #fff solid;
      border-top: none;
      display: flex;
      justify-content: space-around;
   }
   #navp a:hover
{
   border-top: none;
   border-bottom: 3px #0065FC solid;
}
   #ancre
   {
      width: 100%;
   }
   #ancre ul
   {
      width: 100%;
      margin-left: -40px;
   }
   #lienAncre
   {
      width: 100%;
   }
   #ancre li
   {
      width: 100%;
      list-style: none;
      display: flex;
      justify-content: space-around;
   }

   /*FILTRE*/
   #filtre .rom
   {
      width: 100%;
      margin: 10px 430px 0 0;
   }
   .rom
   {
      width: 300px;
      margin: 10px 430px 0 0px;
      padding-right: 20px;
   }
   .ani
   {
      margin: 10px 0 0 0;
   }
   

   /*1er container*/
   #ville a
   {
      width: 50%;
   }

   /*POPULAIRE*/
   h3.lieu
   {
      margin: 30px 0 -10px 29px;
   }
   #photo2
   {
      width: 95%;
   }

   /*HEBERGEMENT*/
   .p1
   {
      flex: 0 95%;
   }
   
   /*ACTIVITES*/
   #blockPage
   {
      margin-bottom: 71px;
   }
   #block1
   {
      width: 95%;
      height: 260px;
      margin: 15px 0;
      order: 1;
   }
   img.port
   {
      height: 200px;
   }
   #block2
   {
      width: 95%;
      height: 41%;
      margin: 15px 0;
      order: 2;
   }
   .Gphoto
   {
      height: 40%;
   }
   img.fort
   {
      height: 200px;
   }
   img.iles
   {
      height: 200px;
   }
   .titreIles
   {
      margin: 0 auto;
   }
   #block3
   {
      width: 95%;
      height: 260px;
      margin-top: 5px;
      order: 3;
   }
   img.calanque
   {
      height: 200px;
   }
   #block4
   {
      width: 95%;
      height: 41%;
      margin: 15px 0;
      order: 4;
   }
   .Gphoto1
   {
      height: 40%;
   }
   img.dame
   {
      height: 200px;
   }
   img.parc
   {
      height: 200px;
   }

   /*FOOTER*/
   #assista
   {
      margin-bottom: 15px;
   }
}
