/*Generalités*/
body
{
   font-family: "Raleway", sans-serif;
   max-width: 2600px;
   margin: 0 auto;
}
#page
{
   width: 95%;
   margin: 0 auto;
}
/*--- ENTETE DE PAGE ---*/
header/*Titre du site (img reservia)*/
{
   margin: auto;
}
#headSite
{
   display: flex;
   justify-content: space-between;
}
#logo
{
   width: 130px;
   height: 80px;
}
/*Navigation du site*/
#menu 
{
   display: flex;
   align-items: flex-start;
   width: 100%;
}
#lienAncre /*nav 2 liens mobile*/
{
   width: 100%;
   display: flex;
   justify-content: flex-end;
}
.lien
{
   margin-right: 80px;
   color: black;
}
#sign /*lien Fixe*/
{
   display: flex;
}
#sign_up
{
   color: #0065FC;
   font-weight: bold;
}
.lien, #sign_up /*config des liens*/
{  
   text-decoration: none;
   font-size: 20px;
   padding-top: 32px;
   padding: 30px;
   border-top: 3px #fff solid;
}
.lien:hover
{
   color: #0065FC;
   border-top: 3px #0065FC solid;
}
#sign_up:hover
{
   border-top: 3px #0065FC solid;
}
.lien:active
{
   color: #0065FC;
   font-weight: bold;
   border-top: 3px #0065FC solid;
}
#slogan h2 /*Slogan du site*/
{
   margin-bottom: 3px;
}
#slogan p
{
   margin-top: 0px;
}
#search/*Barre de recherche*/
{
   font-family: "Raleway", sans-serif;
   margin-top: -15px;
}
form
{
   margin-top: 40px;
   height: 60px;
   display: flex;
   align-items: center;
}
.map /*Image de l'icon*/
{
   height: 23px;
   width: 26px;
   padding: 10px 10px 10px 10px;
   border: #F2F2F2 1px solid;
   border-radius: 7px 0 0 7px;
   background-color: #F2F2F2;
}
#map
{
   font-family: "Raleway", sans-serif;
   height: 45px;
   width: 245px;
   border: #DEEBFF 1px solid;
   padding-left: 20px;
   font-weight: bold;
   font-size: 19px;
}
.button
{
   font-family: "Raleway", sans-serif;
   color: white;
   height: 47px;
   font-weight: bold;
   font-size: 15px;
   border: #0065FC 1px solid;
   border-radius: 0 7px 7px 0;
   background-color: #0065FC;
   cursor: pointer;
}
.button1
{
  visibility: hidden;
}
#filtre /*Filtres de recherche*/
{
   margin-top: 15px;
   display: flex;
   align-items: center;
}
#filtreTitre
{
   font-weight: bold;
}
#blockFiltre
{
   display: flex;
}
#filtre1, #filtre2, #filtre3, #filtre4
{
   display: flex;
   margin: 5px 15px;
   padding: 4px 4px;
   border: #DEEBFF 2px solid;
   border-radius: 24px;
}

#blockFiltre i /*Icon*/
{
   display: flex;
   align-items: center;
   color: #0065FC;
   background-color: #DEEBFF;
   border-radius: 25px;
   margin: -5px -5px;
}
#filtre1 i
{
   padding: 10px 10px;
}
#filtre2 i
{
    padding: 10px 14px;
}
#filtre3 i
{
   padding: 10px 12px;
}
#filtre4 i
{
   padding: 10px 11px;
}
#blockFiltre a /*Lien*/
{
   display: flex;
   text-decoration: none;
   color: #000;
   font-weight: bold;
   margin: 5px 15px;
}
#blockFiltre a:hover
{
   color: #0065FC;
   text-decoration: #0065FC underline;
   margin: 5px 15px;
}
#filtre1:hover, #filtre2:hover, #filtre3:hover, #filtre4:hover
{
   background-color: #DEEBFF;
}
#info/*Resultat de recherche*/
{
   display: flex;
}
#info p
{
   margin: 35px 0px 13px 0px;
}
.fa-info:before
{
   color: #0065FC;
   border: #DEEBFF 1px solid;
   border-radius: 19px;
   margin: 5px 10px 5px 0px;
   padding: 5px 10px 5px 10px;
}
/*--- CORPS DE PAGE --- divisé en 2 Block ---*/
#ville /*1ere section mise en place des 2 block (article et aside) cote a cote*/
{
   display: flex;
   justify-content: space-between;
   margin: 40px 0;
}
/*Block 1 -- Hebergement -- */
#hebergement/*Generalites*/
{
   flex: 1 70%;
   background-color: #F2F2F2;
   border-radius: 20px;
}
#hebergement p
{
   font-size: 14px;
}
h2.lieu /*Titre*/
{
   width: 95%;
   margin: 31px 38px;
   display: flex;
   justify-content: flex-start;
}
#photo1 /*block photo*/
{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
}
.legende
{
   width: 200px;
   margin-left: 10px;
}
.legende h4
{
   width: 180px;
   margin: 0px 0 0 9px;
   color: black;
}
.p1
{
   height: 305px;
   margin: 15px;
   background-color: white;
   border-radius: 20px;
   box-shadow: 4px 4px 11px #e2e2e2;
   flex: 0 30%;
   text-decoration: none;
}
.blockp1
{
   margin: 0;
   padding: 5px;
}
p.prix
{
   color: black;
   width: 150px;
   margin: 5px 0 0 9px;
}
.fas.fa-star
{
   margin: 8px -14px 0 9px;
}
img.cannebiere /*images*/
{
   width: 100%;
   height: 200px;
   border-radius: 20px 20px 0 0;
   object-fit: cover;
}
#plus /*lien "Afficher plus"*/
{
   margin: 35px 42px;
   font-weight: bold;
   text-decoration: none;
   font-size: 15px;
}
#plus a 
{
   color: #000;
   font-weight: bold;
   text-decoration: none;
}
/*2eme partie -- Populaire -- */
#populaire /*Generalites*/
{
   flex: 1 30%;
   background-color: #F2F2F2;
   border-radius: 20px;
   margin-left: 35px;
}
.prix1
{
   font-size: 15px;
}
.note
{
   margin: 55px 0 0 -9px;
}
#titrePop /*Titre*/
{
   width: 90%;
   margin: 15px auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
i.fas.fa-chart-line
{
   font-size: 23px;
}
#photo2 /*block image et texte*/
{
   display: flex;
   flex-direction: column;
}
.p2 
{
   background-color: white;
   width: 100%;
   padding: 5px;
   border-radius: 20px;
   box-shadow: 4px 4px 11px #e2e2e2;
   display: flex;
   flex-direction: row;
}
.matin
{
   flex: 1 40%;
   max-width: 40%;
   height: 100%;
   border-radius: 20px 0 0 20px;
   object-fit: cover;
}
.linkp2
{
   height: 240px;
   text-decoration: none;
   color: #000;
   display: flex;
}
.side
{
   flex: 1 60%;
   margin-left: 10px;
}
#activ /*PARTIE 2 du corps du site -- Activites -- */
{
   height: 100%;
   display: flex;
   flex-direction: column;
   padding-bottom: 35px;
}
#activ p
{
   font-size: 14px;
   font-weight: bold;
   margin-left: 26px;
}
.fig
{
   margin: 0;
}
.lienPicture
{
   text-decoration: none;
   color: #000;
}
#blockPicture
{
   display: flex;
   justify-content: space-between;
}
#block1 /*BLOCK 1 photo et legende*/
{
   background-color: #fff;
   border-radius: 20px;
   box-shadow: 4px 4px 11px #e2e2e2;
   flex: 0 24%;
}
img.port
{
   border-radius: 20px 20px 0 0;
   height:550px;
   width: 100%;
   object-fit: cover;  
}
p.titrePort
{
   margin: 0 auto;
   padding: 9px 0px 9px 15px;
   background-color: white;
   border-radius: 0 0 10px 10px;
   font-weight: bold;
}
#block2 /*BLOCK 2 photo et legende*/
{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   flex: 0 24%;
}
.Gphoto/*Grande photo*/
{
   background-color: #fff;
   border-radius: 20px;
   box-shadow: 4px 4px 11px #e2e2e2;
}
img.fort
{
   border-radius: 20px 20px 0 0;
   height: 290px;
   width: 100%;
   margin: 0 auto;
   object-fit: cover;  
}
.titreFort
{
   margin: 0 auto;
   padding: 9px 0px 9px 15px;
   background-color: white;
   border-radius: 0 0 20px 20px;
   font-weight: bold;
}
.Pphoto /*Petite photo*/
{
   background-color: #ffffff;
   border-radius: 20px;
   box-shadow: 4px 4px 11px #e2e2e2;
   width: 100%;
}
img.iles
{
   border-radius: 20px 20px 0 0;
   height: 190px;
   width: 100%;
   margin: 0 auto;
   object-fit: cover;  
}
p.titreIles
{
   margin: 0 auto;
   padding: 9px 0px 9px 15px;
   background-color: white;
   border-radius: 0 0 10px 10px;
   font-weight: bold;
}
#block3 /*BLOCK 3 Photo et legende*/
{
   background-color: #fff;
   border-radius: 20px;
   box-shadow: 4px 4px 11px #e2e2e2;
   flex: 0 24%;
}
img.calanque
{
   border-radius: 20px 20px 0 0;
   width: 100%;
   height: 550px;
   object-fit: cover;
}
p.titreCalanque
{
   margin: 0 auto;
   padding: 9px 0px 9px 15px;
   background-color: white;
   border-radius: 0 0 10px 10px;
   font-weight: bold;
}
#block4 /*BLOCK 4 photo et legende*/
{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   flex: 0 24%;
}
.Pphoto1 /*Petite photo*/
{
   background-color: #ffffff;
   border-radius: 20px;
   box-shadow: 4px 4px 11px #e2e2e2;
}
img.dame
{
   border-radius: 20px 20px 0 0;
   width: 100%;
   height: 190px;
   object-fit: cover;
   object-position: 0px -21px;  
}
p.titreDame
{
   margin: 0 auto;
   padding: 9px 0px 9px 15px;
   background-color: white;
   border-radius: 0 0 20px 20px;
   font-weight: bold;
}
.Gphoto1/*Grande photo*/
{
   background-color: #fff;
   border-radius: 20px;
   box-shadow: 4px 4px 11px #e2e2e2;
}
img.parc
{
   border-radius: 10px 10px 0 0;
   width: 100%;
   height: 290px;  
   object-fit: cover;
}
.titreParc
{
   margin: 0 auto;
   padding: 9px 0px 9px 15px;
   background-color: white;
   border-radius: 0 0 10px 10px;
   font-weight: bold;
}
/*PIED DE PAGE*/
footer /*GENERAL*/
{
   background-color: #F2F2F2;
   padding: 15px;
}
#sizeFoot
{
   width: 95%;
   margin: auto;
   display: flex;
   justify-content: flex-start;
}
#sizeFoot ul
{
   padding: 0;
}
#sizeFoot li
{
   list-style: none;
   margin: 12px 0;
}
#sizeFoot a
{
   text-decoration: none;
   color: black;
}
.footTitle
{
   flex: 0 25%;
}
/* -- RESPONSIVE -- */
@media (max-width: 1730px)
{
   img.dame
   {
      object-position: 0px -2px;
   }
}
@media (max-width: 1390px)
{
   #populaire /*POPULAIRE*/
   {
      padding-bottom: 25px;
      margin-bottom: 2%;
      margin-left: 0;
   }
   #photo2
   {
      width: 94%;
      margin: 0 auto;
   }
   .p2
   {
      margin: 0 20px 25px 20px;
   }
   #ville /*HEBERGEMENT*/
   {
      display: flex;
      flex-wrap: wrap-reverse;
   }
   #hebergement
   {
      flex: 1 100%;
   }
   .p1
   {
      flex: 0 45%;
      margin-top: 28px;
   }
   #blockPicture /*ACTIVITES*/
   {
      flex-wrap: wrap;
   }
   #block1, #block2, #block3, #block4
   {
      flex: 0 49%;
      margin: 15px 0;
   }
   #block1
   {
      order: 1;
   }
   #block2
   {
      order: 2;
   }
   #block3
   {
      order: 4;
   }
   #block4
   {
      order: 3;
   }
   .dame
   {
      object-position: 0px 0px;
   }
}
@media (max-width: 1100px)
{
   #sizeFoot /*footer*/
   {
      flex-direction: column;
   }
}
@media (max-width: 893px)
{
   #title
   {
      margin-left: 5%;
   }
   #slogan
   {
      margin-left: 5%;
   }
   #search
   {
      margin-left: 5%;
   }
   #filtre
   {
      margin-left: 5%;
   }
   #info
   {
      margin-left: 5%;
   }
   .lien, #sign_up
   {
      margin-right: 30px;
   }
   #plus 
   {
      margin: 50px 0px 30px 33px;
   }
   #filtreTitre /*Filtre*/
   {
      margin-right: auto;
   }
   #blockFiltre
   {
      flex-wrap: wrap;
   }
   #filtre1, #filtre2, #filtre3, #filtre4
   {
      margin-left: 0;
      margin-right: 45px;
   }
   
   #filtre
   {
      flex-direction: column;
   }
   #headSite/*liens ancre*/
   {
      display: flex;
      flex-direction: column;
   }
   #menu
   {
      flex-direction: column-reverse;
   }
   .lien
   {
      border-top: none;
      border-bottom: #DEEBFF 3px solid;
      margin-bottom: 5px;
      margin: auto;
      padding-bottom: 10px;
      display: flex;
      flex: 0 50%;
      justify-content: space-around;
   }
   .lien:hover
   {
      border-top: none;
      border-bottom: #0065FC 3px solid;
   }
   #sign
   {
      width: 100%;
      margin-top: -84px;
      display: flex;
      justify-content: flex-end;  
   }
   #blockPicture /*ACTIVITES*/
   {
      flex-wrap: wrap;
      flex: 0 95%;
   }
}
@media (max-width: 632px)
{
   header
   {
      margin: auto;
   }
   #page
   {
      width: 100%;
   }
   .button
   {
      display: none;
   }
   .button1 /*i.fas.fa-search*/
   { 
      visibility: visible;
      margin: 0px 0 1px -6px;
      padding: 9px 1px 9px 1px;
      color: white;
      width: 46px;
      height: 46px;
      font-size: 24px;
      border-radius: 10px;
      background-color: #0065FC;
      cursor: pointer;
   }
   #logo-ancre /*LIEN ANCRE*/
   {
      display: flex;
   }
   .pop /*POPULAIRE*/
   {
      margin: 15px;
   }
   i.fas.fa-chart-line
   {
      margin: 15px;
   }
   #photo2
   {
      width: 93%;
   }
   #hebergement /*HEBERGEMENT*/
   {
      background-color: #fff;
   }
   #plus
   {
      margin: 17px 0 0 51px ;
   }
   #plus a 
   {
      font-size: 19px;
      margin: 0 0 0 0;
   }
   #photo1
   {
      width: 90%;
      margin: auto;
   }
   .p1
   {
      flex: 0 95%;
      margin: 15px auto;
   }
   #activites /*ACTIVITES*/
   {
      margin-left: 46px;
      margin-bottom: 13px;
   }
   #activ
   {
      margin-bottom: 71px;
   }
   #blockPicture
   {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
   }
   #blockPicture img 
   {
      height: 200px;
   }
   #block1, #block2, #block3, #block4
   {
      flex: 0 85%;
   }
   #block1
   {
      height: 245px;
   }
   #block2
   {
      height: 41%;
      margin: 15px 0;
   }
   .Gphoto
   {
      margin-bottom: 15px;
   }
   .Pphoto
   {
      margin-top: 15px;
   }
   .titreIles
   {
      margin: 0 auto;
   }
   #block3
   {
      height: 260px;
      margin-top: 15px;
   }
   #block4
   {
      margin: 15px 0;
   }
   .Pphoto1
   {
      margin-bottom: 15px;
   }
   .Gphoto1
   {
      margin-top: 15px;
   }
   #sizeFoot li /*FOOTER*/
   {
      margin-top: 30px;
   }
   #loyer
   {
      margin: 25px 0;
   }
   #assista
   {
      margin-bottom: 40px;
   }
}
