/*Generalités*/
body
{
   width: 100%;
}
#page
{
   width: 95%;
   margin: 0 auto;
}

/*--- ENTETE DE PAGE ---*/
#logo /*Titre du site reservia*/
{
   width: 130px;
   height: 80px;
   margin: auto 0;
}
#navp /*Liens ancres*/
{
   float: right;
   width: 60%;
   margin-top: 20px;
   margin-right: 60px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}
#navp a
{
   color: #0065FC;
   text-decoration: none;
   font-size: 20px;
   font-weight: bold;
   padding-top: 33px;
   border-top: 3px #fff solid;
}
p#fixe a
   {
      position: absolute;
      top: 13px;
      right: 2%;
      color: #0065FC;
      text-decoration: none;
      font-size: 20px;
      font-weight: bold;
      padding-top: 28px;
      border-top: 3px #fff solid;
   }
#navp a:hover
{
   border-top: 3px #0065FC solid;
}
p#fixe a:hover
{
   border-top: 3px #0065FC solid;
}
#ancre
{
   width: 380px;
   
}
#ancre ul
{
   display: flex;
   justify-content: space-evenly;
}
#ancre li
{
   list-style: none;
}

/*Slogan du site*/
#slogan h3
{
   font-size: 25px;
   font-weight: bold;
}
#slogan p
{
   font-size: 20px;
   margin-top: -26px;
}

/*Barre de recherche*/
#search
{
   height: 60px;
   margin-top: -15px;
}
form
{
   margin-top: 40px;
   height: 60px;
   display: flex;
   align-items: center;
}
.map /*Image de l'icon*/
{
   height: 23px;
   width: 26px;
   padding: 10px 10px 10px 10px;
   border: #F2F2F2 1px solid;
   border-radius: 7px 0 0 7px;
   background-color: #F2F2F2;
}
#map
{
   height: 45px;
   width: 245px;
   border: #DEEBFF 1px solid;
   padding-left: 20px;
   font-weight: bold;
   font-size: 19px;
}
.button
{
   color: white;
   height: 45px;
   font-weight: bold;
   font-size: 15px;
   border: #0065FC 1px solid;
   border-radius: 0 7px 7px 0;
   background-color: #0065FC;
}

/*Filtres de recherche*/
#filtre
{
   margin-top: 15px;
   display: flex;
   align-items: center;
   justify-content: flex-start;
}
.fil
{
   margin: 0 12px 0 0;
   font-size: 20px;
   font-weight: bold;
}
#filtre a
{
   color: black;
   font-weight: bold;
   text-decoration: none;
   border: #DEEBFF 1px solid;
   border-radius: 32px;
   margin-right: 25px;
   display: flex;
   align-items: center;
}
#filtre .fas
{
   width: 32px;
   height: 32px;
   color: #0065FC;
   background-color: #DEEBFF;
   border: #DEEBFF 1px solid;
   border-radius: 32px;
   margin: 0 12px 0 -2px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.eco, .rom
{
   width: 150px;
}
.fam
{
   width: 125px;
}
.ani
{
   width: 195px;
}

/*Resultat de recherche*/
#info p
{
   margin: 35px 0px 13px 0px;
}
.fa-info:before
{
   color: #0065FC;
   border: #DEEBFF 1px solid;
   border-radius: 19px;
   margin: 5px 10px 5px 0px;
   padding: 5px 10px 5px 10px;
}

/*--- CORPS DE PAGE --- divisé en 2 Block ---*/
#ville /*1ere section preparation des 2 block (article et aside) cote a cote*/
{
   width: 100%;
   display: flex;
   justify-content: space-between;
   margin: 40px 0;
}
/*Block 1 -- Hebergement -- */
/*Generalites*/
#hebergement
{
   width: 72%;
   background-color: #F2F2F2;
   border-radius: 15px;
}
article p
{
   font-size: 14px;
}
h3.lieu /*Titre*/
{
   width: 234px;
   margin: 35px 0 21px 29px;
}
#photo1 
{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-content: space-between
}
.legende
{
   width: 200px;
   margin-left: 10px;
}
.legende h4
{
   width: 180px;
   margin: 0px 0 0 9px;
   color: black;
}
.p1
{
   display: block;
   background-color: white;
   border-radius: 15px;
   box-shadow: 4px 4px 11px #e2e2e2;
   flex: 0 30%;
   margin-bottom: 20px;
   padding-bottom: 10px;
   text-decoration: none;
}
p.prix
{
   color: black;
   width: 150px;
   margin: 5px 0 0 9px;
}
.fas.fa-star
{
   margin: 8px -14px 0 9px;
}
/*BLOCK 1*/
img.cannebiere
{
   width: 96%;
   height: 200px;
   border-radius: 15px 15px 0 0;
   margin: 5px 5px 0 5px;
   object-fit: cover;
}

 /*BLOCK 2*/
img.portHotel
{
   width: 96%;
   height: 200px;
   border-radius: 15px 15px 0 0;
   margin: 5px 5px 0 5px;
   object-fit: cover;
}

 /*BLOCK 3*/
img.mouettes
{
   width: 96%;
   height: 200px;
   border-radius: 15px 15px 0 0;
   margin: 5px 5px 0 5px;
   object-fit: cover;
}
/*BLOCK 4*/
img.mer
{
   width: 96%;
   height: 200px;
   border-radius: 15px 15px 0 0;
   margin: 5px 5px 0 5px;
   object-fit: cover;
}
/*BLOCK 5*/
img.pannier
{
   width: 96%;
   height: 200px;
   border-radius: 15px 15px 0 0;
   margin: 5px 5px 0 5px;
   object-fit: cover;
}
/*BLOCK 6*/
img.amina
{
   width: 96%;
   height: 200px;
   border-radius: 15px 15px 0 0;
   margin: 5px 5px 0 5px;
   object-fit: cover;
}
/*lien "Afficher plus"*/
a#plus 
{
   margin: 0px 0px 0px 19px;
   font-weight: bold;
   text-decoration: none;
}
/*2eme partie -- Populaire -- */
aside /*Generalites*/
{
   background-color: #F2F2F2;
   border-radius: 15px;
   margin-left: 3%;
   width: 360px;
}
aside p.prix
{
   width: 88%;
   font-size: 14px;
}
.side
{
   width: 55%;
   margin-top: 10px;
}
#titrePop /*Titre*/
{
   margin: -12px 0px -18px 19px;;
   display: flex;
   justify-content: space-between;
   align-items: baseline;
}
h3.pop, i.fas.fa-chart-line
{
   padding-top: 30px;
}
i.fas.fa-chart-line
{
   font-size: 20px;
   margin-right: 17px;
}
.p2 
{
   background-color: white;
   border-radius: 15px;
   box-shadow: 4px 4px 11px #e2e2e2;
   margin: 16px 20px 0px 20px;
   display: flex;
   flex-direction: row;
}
.matin
{
   width: 40%;
   height: 187px;
   border-radius: 15px 0 0 15px;
   margin: 5px 5px;
   object-fit: cover;
}

/*1er BLOCK photo aside*/
p.note
{
   margin: 12px auto;
   padding: 32px 0 0 0;
}

/*2eme BLOCK photo aside*/
p.note
{
   margin: 12px auto;
   padding: 32px 0 0 0;
}

/*3eme BLOCK photo aside*/
p.note
{
   margin: 12px auto;
   padding: 32px 0 0 0;
}
/*PARTIE 2 du corps du site -- Activites -- */
section#activ
{
   width: 100%;
   height: 540px;
}
#blockPage
{
   width: 100%;
   height: 100%;
}
h3#activites
{
   width: 80%;
   height: 2%;
}
#blockPicture
{
   width: 100%;
   height: 86%;
   display: flex;
   justify-content: space-between;
}
/*BLOCK 1 photo et legende*/
#block1 
{
   width: 23%;
   height: 100%;
   border-radius: 10px;
   box-shadow: 4px 4px 11px #e2e2e2;
}
img.port
{
   border-radius: 10px 10px 0 0;
   width: 100%;
   height: 400px;
   margin: 0 auto;
   object-fit: cover;  
}
p.titrePort
{
   width: 91%;
   height: 9%;
   margin: -4px auto;
   padding-top: 23px;
   padding-left: 15px;
   background-color: white;
   border-radius: 0 0 10px 10px;
   font-weight: bold;
}
/*BLOCK 2 photo et legende*/
/*GENERAL*/
#block2 
{
   width: 23%;
   height: 100%;
}
.Gphoto/*Grande photo*/
{
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 4px 4px 11px #e2e2e2;
   width: 100%;
   height: 55%;
}
img.fort
{
   border-radius: 10px 10px 0 0;
   width: 100%;
   height: 195px;
   margin: 0 auto;
   object-fit: cover;  
}
.titreFort
{
   width: 91%;
   height: 12%;
   margin: -4px auto;
   padding-top: 23px;
   padding-left: 12px;
   background-color: white;
   border-radius: 0 0 10px 10px;
   font-weight: bold;
}
/*Petite photo*/
.Pphoto
{
   background-color: #ffffff;
   border-radius: 10px;
   box-shadow: 4px 4px 11px #e2e2e2;
   width: 100%;
   height: 41%;
   margin-top: 20px;
}
img.iles
{
   border-radius: 10px 10px 0 0;
   width: 100%;
   height: 125px;
   margin: 0px auto;
   object-fit: cover;  
}
p.titreIles
{
   width: 91%;
   height: 12%;
   margin: -4px auto;
   padding-top: 23px;
   padding-left: 12px;
   background-color: white;
   border-radius: 0 0 10px 10px;
   font-weight: bold;
}
/*BLOCK 3 Photo et legende*/
#block3
{
   width: 23%;
   height: 100%;
   border-radius: 10px;
   box-shadow: 4px 4px 11px #e2e2e2;
}
img.calanque
{
   border-radius: 10px 10px 0 0;
   width: 100%;
   height: 400px;
   margin: 0 auto;
   object-fit: cover;
}
p.titreCalanque
{
   width: 91%;
   height: 9%;
   margin: -4px auto;
   padding-top: 23px;
   padding-left: 15px;
   background-color: white;
   border-radius: 0 0 10px 10px;
   font-weight: bold;
}
/*BLOCK 4 photo et legende*/
#block4 
{
   width: 23%;
   height: 100%;
}
/*Petite photo*/
.Pphoto1
{
   background-color: #ffffff;
   border-radius: 10px;
   box-shadow: 4px 4px 11px #e2e2e2;
   width: 100%;
   height: 41%;
   margin-top: 0px;
}
img.dame
{
   border-radius: 10px 10px 0 0;
   width: 100%;
   height: 125px;
   margin: 0px auto;
   object-fit: cover;  
}
p.titreDame
{
   width: 91%;
   height: 12%;
   margin: -4px auto;
   padding-top: 23px;
   padding-left: 12px;
   background-color: white;
   border-radius: 0 0 10px 10px;
   font-weight: bold;
}
.Gphoto1/*Grande photo*/
{
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 4px 4px 11px #e2e2e2;
   width: 100%;
   height: 55%;
   margin-top: 20px;
}
img.parc
{
   border-radius: 10px 10px 0 0;
   width: 100%;
   height: 195px;
   margin: 20 auto;  
   object-fit: cover;
}
.titreParc
{
   width: 91%;
   height: 12%;
   margin: -4px auto;
   padding-top: 23px;
   padding-left: 12px;
   background-color: white;
   border-radius: 0 0 10px 10px;
   font-weight: bold;
}

/*PIED DE PAGE*/
/*GENERAL*/
footer
{
   background-color: #F2F2F2;
   width: 100%;
   position: absolute;
   top: auto;
}
#sizeFoot li
{
   margin: 5px 0;
   list-style: none;
}
#sizeFoot
{
   width: 95%;
   margin: 0;
   display: flex;
   justify-content: flex-start;
}
#sizeFoot h4
{
   width: 150px;
   margin: 37px 0px 3px 0;
}
/*1ere list*/
#propos
{
   display: flex;
   flex-direction: column;
   margin-left: 40px;
   padding-right: 200px;
}
#propos ul
{
   margin: 10px 20px 0 -20px;
   display: flex;
   flex-direction: column;
   align-content: flex-start;
}
#propos a
{
   text-decoration: none;
   color: black;
}
/*2eme list*/
#loyer
{
   margin-left: 40px;
   padding-right: 200px;
   display: flex;
   flex-direction: column
}
#loyer ul
{
   margin: 10px 20px 0 -20px;
   display: flex;
   flex-direction: column;
   align-content: flex-start;
}
#loyer a
{
   text-decoration: none;
   color: black;
}
/*3eme list*/
#assista
{
   margin-left: 40px;
   display: flex;
   flex-direction: column
}
#assista ul
{
   margin: 10px 20px 0 -20px;
   display: flex;
   flex-direction: column;
   align-content: flex-start;
}
#assista a
{
   text-decoration: none;
   color: black;
}

/* -- RESPONSIVE -- */

@media (max-width: 1033px)
{
   /*SECTION hebergement et populaire*/
   #ville
   {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: 40px 0;
      flex-wrap: wrap-reverse;
   }
   aside /*Block populaire*/
   {
      background-color: #F2F2F2;
      border-radius: 15px;
      width: 100%;
      margin-left: 0;
      margin-bottom: 2%;
   }
   .side
   {
      background-color: azure;
      width: 53%;
      margin-top: 10px;
   }
   .p2
   {
      background-color: white;
      width: 350px;
      border-radius: 15px;
      box-shadow: 4px 4px 11px #e2e2e2;
      margin: 15px 10px 15px 10px;
      display: flex;
      flex-direction: row;
   }
   #photo2
   {
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
   }
   #titrePop
   {
      margin: -12px 0px -18px 19px;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
   }
   
   #hebergement /*Block hebergement*/
   {
      width: 100%;
      background-color: #F2F2F2;
      border-radius: 15px;
   }
   /*Pied de page*/
   #sizeFoot ul
   {
      margin: 10px -74px 0 -20px;
      display: flex;
      flex-direction: column;
      align-content: flex-start;
   }
}
@media (max-width: 600px)
{
   #page
   {
      width: 100%;
   }
   p#fixe a
   {
      position: absolute;
      top: 13px;
      right: 0;
      color: #0065FC;
      text-decoration: none;
      font-size: 20px;
      font-weight: bold;
      padding-top: 23px;
      border-top: 3px #fff solid;
   }
   /*a#fixe
   {
      
   }*/
   #navp
   {
      width: 100%;
      margin-top: -55px;
      margin-right: 0;
      display: flex;
      flex-direction: column-reverse;
   }
   #navp a
   {
      width: 100%;
      color: #0065FC;
      text-decoration: none;
      font-size: 20px;
      font-weight: bold;
      padding-bottom: 15px;
      border-bottom: 3px #fff solid;
      border-top: none;
      display: flex;
      justify-content: space-around;
   }
   #navp a:hover
{
   border-top: none;
   border-bottom: 3px #0065FC solid;
}
   #ancre
   {
      width: 100%;
   }
   #ancre ul
   {
      width: 100%;
      margin-left: -40px;
   }
   #lienAncre
   {
      width: 100%;
   }
   #ancre li
   {
      width: 100%;
      list-style: none;
      display: flex;
      justify-content: space-around;
   }
   #ville a
   {
      width: 50%;
   }
}
